.team-member {
    text-align: center;
    width: 200px;
  }
  
  .team-member-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .team-member h3 {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  
  .team-member p {
    color: #777;
  }
  